* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Oxanium;
    border: none;
    outline: none;
}
:root {
    /* default theme */

    /* --accent-color:rgb(186, 192, 224);
    --border-color:rgb(84, 97, 153);
    --text-color:rgb(40, 50, 70);
    --body-color:rgb(255, 255, 255); */

    /* orange theme */

    --accent-color:rgb(209, 181, 158);
    --border-color:rgb(124, 67, 89);
    --text-color:rgb(170, 69, 28);
    --body-color:rgb(255, 243, 252);

    /* dark theme */

    /* --accent-color:rgb(67, 61, 68);
    --border-color:rgb(31, 22, 29);
    --text-color:rgb(166, 149, 168);
    --body-color:rgb(49, 41, 47); */
}
@font-face {
    font-family: 'Oxanium';
    src: url('fonts/oxanium.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
body {
    color: var(--text-color);
}
hr {
    border: 1pt solid var(--accent-color);
    margin: 6pt;
}
.bodycontainer {
    height: calc(100vh - 15pt) !important;
    display: flex;
}
.sidebar {
    width: 150pt;
    height: 100%;
    background-color: var(--body-color);
    border-right: 2pt solid var(--border-color);
}

.sidebar div {
    height: 16pt;
    line-height: 16pt;
    margin: 2pt;
    padding: 3.5pt;
    display: flex;
    border-left: 2pt solid var(--border-color);
    transition: all .07s ease-in-out;
}

.sidebar div:hover {
    transform: translate(2pt, 0px);
}

.messagecontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.messages {
    height: 100%;
    width: 100%;
    animation: pan 360s linear infinite;
    background-color: var(--accent-color);
}

.message {
    display: flex;
    margin: 5pt;
    border: 1px solid var(--border-color);
    border-bottom: 4px solid var(--border-color);
    background-color: var(--body-color);
}

.message p {
    margin-top: -4pt;
}

.pfp {
    min-width: 40pt;
    width: 40pt;
    height: 40pt;
    background-color: var(--accent-color);
    margin: 2pt;
}
.messagetext {
    display:flex;
    flex-direction: column;
}

.messagetext input{
    position:absolute;
    right:8pt;
    top: 7pt;
    width: 15pt;
}

.messagebox {
    min-height: 30pt;
    width: 100%;
    border-top: 2px solid var(--border-color);
}
.messagebox textarea {
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
}

.footer {
    height: 100%;
    font-size: small;
    line-height: 15pt;
    background-color: var(--border-color);;
    color: white;
    font-weight: bold;
}